<div class="results-container">
  <h1>Results</h1>
  <h3>You entered <%= @user_entry %></h3>
  <p><%= @results[:message] %></p>
  <p>Your score is: <%= @results[:score] %></p>
  <p>Time taken: <%= @results[:time] %></p>
</div>
